body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
}

#container_menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
    height: 171px;
    background-color: #e6f3ff;
    opacity: 0.8;
    border-radius: 6px;
    border: 1px solid rgba(35,87,146,0.4);
    z-index: 1;
}

#title_menu {
    font: bold 14px Arial, Tahoma, Helvetica, sans-serif;
    color: #333;
    padding: 6px 0 6px 5px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid rgba(35,87,146,0.4);
}

#container_options {
    font: 12px Arial, Tahoma, Helvetica, sans-serif;
    height: 90px;
    background-color: #fff;
    border-bottom: 1px solid rgba(35,87,146,0.4);
    color: #000;
    padding: 6px 0 0 5px;
}

#container_options_basemap {
    font: 12px Arial, Tahoma, Helvetica, sans-serif;
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid rgba(35,87,146,0.4);
    color: #000;
    padding: 6px 0 0 5px;
}

#container_extras {
    font: 12px Arial, Tahoma, Helvetica, sans-serif;
    height: 30px;
    background-color: #fff;
    border-bottom: 1px solid rgba(35,87,146,0.4);
    color: #000;
    padding: 6px 0 0 5px;
}

#theme_options, #variables_options {
    padding: 2px 0 10px 0;
}
#opcao_tema, #opcao_variavel_demografia, #opcao_variavel_raca_imigracao,#opcao_variavel_religiao,
#opcao_variavel_educacao, #opcao_variavel_renda_trabalho, #opcao_variavel_condicoes_domicilio,
#opcao_variavel_condicoes_entorno {
    width: 230px;
}

#container_change_basemap {
    position: absolute;
    top: 195px;
    right: 10px;
    width: 250px;
    height: 115px;
    background-color: #e6f3ff;
    opacity: 0.8;
    border-radius: 6px;
    border: 1px solid rgba(35,87,146,0.4);
}


/*TESTES*/

.cartodb-tooltip {
    /*
    font: 10px Arial, Tahoma, Helvetica, sans-serif;
    padding: 0 6px 0 6px;
    margin-top: 20px !important;
    margin-left: 20px !important;
    opacity: 0.8;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid rgba(35,87,146,0.4);
    /* Clóvis - 20170331... */
    visibility: hidden;
    min-width: 0px;
    max-width: 0px;
    min-height: 0px;
    max-height: 0px;
    /* ...Clóvis - 20170331 */
}

.cartodb-infobox{
    visibility: hidden;
}

.quartile-cem{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    max-width: 5px;
}

.colors{
    text-align: center;
    vertical-align: middle;
    padding-left: 0;
    padding-right: 0;
    max-width: 36px;
    white-space: nowrap;
    overflow: hidden ! important;
}

/*Mariela*/
.input-opcao-mapa{
    width: 75px;
    height: 75px; 
    font-size: 9px;
}

.mapa-base{
    background: url("../img/mapa-base.png");
}

.mapa-tematico{
    background: url("../img/mapa-tematico.png");
}